@* NOTES
Basically only the Title field is applied here, since i wanted the Department and item editor in more than one places.
It is what it is
*@

@model _LAB__QC_HQ.Models.ViewModels.EditContentViewModel

<h4>General Content Information</h4>

<div class="mb-3">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
</div>

<hr />

