@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if(User.Identity?.IsAuthenticated == true)
    {
        <h3>Hello, @User.Identity.Name!</h3>
        
        <a asp-controller="ContentBrowse" asp-action="Index">Browse Content</a>
    }



</div>
